@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", "Barlow", sans-serif;
  background-color: #fff;
  font-size: 16px;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}

.header {
  width: 1280px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 10px;
  padding: 20px;
}
.header__logo {
  margin-left: -50px;
  width: 236px;
  height: 26px;
  top: 43.56px;
  left: 80.1px;
  padding: 0.44px, 0.1px, 0.56px, 0.9px;
}
.header__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: -90px;
  margin-left: 700px;
  width: 353px;
  height: 15px;
  top: 50px;
  left: 1077px;
  padding: 0px, 1px, 0px, 0px;
}
.header__list--item {
  margin-left: 20px;
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9230769277px;
  text-align: left;
}
.header__link {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  color: rgb(131, 136, 143);
}
.header__link:active {
  color: #000;
}
.header .burger__img {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 689px;
    height: 26px;
    margin-bottom: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 40px;
  }
  .header__logo {
    width: 236px !important;
    height: 26px !important;
    margin-right: 90px;
  }
  .header__list {
    margin-left: 80px;
    width: 483px;
    height: 15px;
    top: 46px;
    left: 445px;
    padding: 0px, 1px, 0px, 0px;
  }
  .header__list--item {
    margin-left: 15px;
    height: 15px;
    left: 161px;
  }
  .burger__img {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .header {
    width: 327px;
  }
  .header__logo {
    width: 163px !important;
    height: 18px !important;
    margin-left: -80px !important;
    margin-right: 140px;
  }
  .header__list {
    display: none;
  }
  .header .burger__img {
    display: block;
  }
}
.hero {
  width: 1280px;
  height: 600px;
  background-image: url("/images/hero__bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero__wrapp {
  width: 493px;
  height: 367px;
  padding-left: 105px;
  padding-top: 50px;
}
.hero__head {
  width: 493px;
  font-family: "Fraunces";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(254, 252, 247);
}
.hero__text {
  width: 445px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 80%;
  color: rgb(254, 252, 247);
  margin-bottom: 50px;
}
.hero__btn {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  margin: 0;
  margin-left: -200px;
  width: 155px;
  height: 25px;
  font-family: Fraunces;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(254, 252, 247);
  border: 2px solid rgb(14, 135, 132);
  background-color: rgb(14, 135, 132);
  padding: 15px;
  border-radius: 5px;
}
.hero__btn:active {
  background-color: rgb(102, 210, 207);
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
  .hero {
    width: 689px;
    height: 480px;
    background-image: url("/images/tablet__bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 10px;
  }
  .hero__wrapp {
    width: 398px;
    height: 292px;
  }
  .hero__head {
    width: 329px;
    font-family: Fraunces;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
  }
  .hero__text {
    width: 398px;
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
  }
  .hero__btn {
    width: 217px;
    margin-left: -95px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  .hero {
    width: 327px;
    height: 480px;
    background-image: url("/images/mobile__bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
  }
  .hero__wrapp {
    width: 398px;
    height: 301px;
    padding-left: 25px;
  }
  .hero__head {
    width: 279px;
    font-family: Fraunces;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
  }
  .hero__text {
    width: 279px;
    opacity: 80%;
    text-align: center;
  }
  .hero__btn {
    width: 217px;
    margin-left: -95px;
  }
}
.wrapp {
  width: 1111px;
  height: 525px;
  background-image: url("/images/wrapp__bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapp__list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapp__item {
  margin-top: 150px;
  margin-left: 20px;
}
.wrapp__item--img {
  width: 256px;
  height: 193px;
}
.wrapp__head {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(51, 61, 75);
}
.wrapp__text {
  width: 255px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(51, 61, 75);
}

@media only screen and (max-width: 768px) {
  .wrapp {
    width: 689px;
    height: 927px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/images/tablet-wrapp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
  }
  .wrapp__list {
    width: 573px;
    height: 868px;
    display: inline;
  }
  .wrapp__item {
    width: 573px;
    height: 93px;
    display: flex;
    margin-bottom: 0px;
  }
  .wrapp .item__left {
    width: 255px;
    height: 193px;
  }
  .wrapp .item__right {
    width: 282px;
    height: 106px;
  }
  .wrapp__head {
    width: 255px;
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
  .wrapp__text {
    width: 282px;
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
  }
}
@media only screen and (max-width: 375px) {
  .wrapp {
    width: 327px;
    padding-top: 50px;
    height: 1321px;
    background-image: url("/images/our_collection.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
  }
  .wrapp__list {
    display: inline;
  }
  .wrapp__item {
    display: inline;
    margin-bottom: 0px;
  }
  .wrapp .item__left {
    width: 200px;
    height: 151px;
  }
  .wrapp .item__right {
    width: 282px;
    height: 98px;
  }
  .wrapp__head {
    width: 255px;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
  .wrapp__text {
    width: 282px;
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
  }
}
.pending {
  background-color: rgb(44, 52, 62);
  border-radius: 8px;
  width: 1280px;
  height: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(254, 252, 247);
  margin-bottom: 100px;
}
.pending__head {
  font-family: Fraunces;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 50px;
}
.pending__text {
  width: 540px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pending__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 1110px;
  height: 382px;
  position: relative;
  top: 100px;
}
.pending__item {
  margin-left: 20px;
  width: 350px;
  height: 382px;
  background-color: rgb(14, 135, 132);
  border-radius: 8px;
}
.pending__item--img {
  margin-top: 70px;
  width: 72px;
  height: 72px;
}
.pending__item--head {
  margin: 0 auto;
  margin-top: 50px;
  width: 255px;
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}
.pending__item--text {
  margin: 0 auto;
  margin-top: 20px;
  width: 255px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .pending {
    width: 688px;
    height: 863px;
  }
  .pending__head {
    font-family: Fraunces;
    font-size: 32px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
  }
  .pending__text {
    width: 540px;
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
  }
  .pending__list {
    display: inline;
  }
  .pending__item {
    display: flex;
    margin: 0 auto;
    width: 573px;
    height: 180px;
    margin-bottom: 20px;
  }
  .pending__item--left {
    margin-right: 70px;
    margin-left: 30px;
  }
  .pending__item--right {
    margin-top: 40px;
    width: 344px;
    display: inline;
  }
  .pending__item--head {
    margin-top: 0;
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
  .pending__item--text {
    width: 344px;
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
  }
}
@media only screen and (max-width: 375px) {
  .pending {
    width: 327px;
    height: 902px;
    margin-bottom: 350px;
  }
  .pending__head {
    font-family: Fraunces;
    font-size: 28px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
  }
  .pending__text {
    width: 279px;
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
  }
  .pending__list {
    display: inline;
  }
  .pending__item {
    display: inline-block;
    margin: 0 auto;
    width: 279px;
    height: 282px;
    margin-bottom: 20px;
  }
  .pending__item--left {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .pending .pending__item--img {
    margin-top: 0;
  }
  .pending__item--head {
    margin-top: 0;
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
  .pending__item--text {
    width: 212px;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
  }
}
.content {
  width: 1045px;
  height: 685px;
  padding-top: 100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.content__head {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(131, 136, 143);
}
.content__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 1045px;
}
.content__item {
  margin-right: 95px;
}
.content .span {
  font-family: Fraunces;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(253, 214, 186);
  margin-left: -200px;
}
.content__item--head {
  width: 255px;
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(51, 61, 75);
}
.content__item--text {
  width: 285px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(51, 61, 75);
}
.content__btn {
  margin-top: 70px;
  text-align: left;
}
.content__link {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  color: rgb(254, 252, 247);
  background-color: rgb(14, 135, 132);
  border-radius: 8px;
  font-family: Fraunces;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0px;
  padding: 20px;
  margin-left: -1px;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 689px;
  }
  .content__list {
    width: 689px;
  }
  .content__item {
    margin-right: 20px;
  }
  .content .span {
    margin-left: -130px;
  }
  .content__item--head {
    width: 223px;
    font-family: Fraunces;
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
  .content__item--text {
    width: 223px;
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
  }
  .content__link {
    margin-left: -1px;
  }
}
@media only screen and (max-width: 375px) {
  .content {
    width: 327px;
  }
  .content__head {
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
  .content__list {
    width: 327px;
    display: inline;
  }
  .content__item {
    margin-bottom: 20px;
  }
  .content .span {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content__item--head {
    text-align: center;
    width: 327px;
  }
  .content__item--text {
    text-align: center;
    width: 327px;
  }
  .content__link {
    margin-left: 65px;
  }
}
.footer {
  width: 1280px;
  height: 120px;
  background-color: rgb(44, 52, 62);
  border-radius: 8px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.footer__logo {
  margin-right: 50px;
}
.footer__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 300px;
}
.footer__item {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9230769277px;
  text-align: left;
}
.footer__item--link {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  text-transform: uppercase;
  color: rgb(131, 136, 143);
}
.footer__item--link:active {
  color: #000;
}
.footer__picture {
  margin-left: 20px;
}
.footer__picture:active {
  background-color: rgb(253, 214, 186);
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 688px;
    height: 270px;
    display: block;
  }
  .footer__logo {
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 0px;
    text-align: center;
  }
  .footer__list {
    transform: translateX(180px);
    margin-right: 0;
    text-align: center;
    margin-bottom: 70px;
  }
  .footer__pictures {
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .footer {
    width: 327px;
    height: 346px;
    display: block;
    transform: translateY(600px);
  }
  .footer__logo {
    width: 218px;
    height: 24px;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 0px;
    text-align: center;
  }
  .footer__list {
    margin-right: 0;
    text-align: center !important;
    margin-bottom: 70px;
    margin-left: -350px;
    display: block;
  }
  .footer__item {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__item--link {
    margin-left: 0;
  }
  .footer__pictures {
    text-align: center;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}/*# sourceMappingURL=main.css.map */