html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", "Barlow", sans-serif;
  background-color: #fff;
  font-size: 16px;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1480px;
  // background-color: #c0b8b8;
  overflow-x: hidden;
}
