$darkColor: #000;
$whiteColor: #fff;
$darkgrey: rgba(131, 136, 143, 1);
$greyColor: rgba(162, 162, 162, 1);
$greendark: rgba(14, 135, 132, 1);
$greenaqua: rgba(102, 210, 207, 1);
$cornsilkColor: rgba(253, 214, 186, 1);
