@import "../mixins/mixin";
@import "../colors/color";

.hero {
  width: 1280px;
  height: 600px;
  background-image: url("/images/hero__bg.png");
  @include bg();
  @include center();

  &__wrapp {
    width: 493px;
    height: 367px;
    padding-left: 105px;
    padding-top: 50px;
  }

  &__head {
    width: 493px;
    font-family: "Fraunces";
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(254, 252, 247, 1);
  }

  &__text {
    width: 445px;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 80%;
    color: rgba(254, 252, 247, 1);
    margin-bottom: 50px;
  }

  &__btn {
    @include link();
    margin: 0;
    margin-left: -200px;
    width: 155px;
    height: 25px;
    font-family: Fraunces;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(254, 252, 247, 1);
    border: 2px solid $greendark;
    background-color: $greendark;
    padding: 15px;
    border-radius: 5px;
  }

  &__btn:active {
    background-color: $greenaqua;
  }
}

// TABLET

@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
  .hero {
    width: 689px;
    height: 480px;
    background-image: url("/images/tablet__bg.png");
    @include bg();
    margin-top: 10px;

    &__wrapp {
      width: 398px;
      height: 292px;
    }

    &__head {
      width: 329px;
      font-family: Fraunces;
      font-size: 48px;
      font-weight: 900;
      line-height: 48px;
      letter-spacing: 0px;
      text-align: left;
    }

    &__text {
      width: 398px;
      font-family: Barlow;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: left;
    }

    &__btn {
      width: 217px;
      margin-left: -95px;
    }
  }
}

// MOBILE

@media only screen and (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  .hero {
    width: 327px;
    height: 480px;
    background-image: url("/images/mobile__bg.png");
    @include bg();
    margin-top: 10px;
    @include center();

    &__wrapp {
      width: 398px;
      height: 301px;
      padding-left: 25px;
    }

    &__head {
      width: 279px;
      font-family: Fraunces;
      font-size: 40px;
      font-weight: 900;
      line-height: 40px;
      letter-spacing: 0px;
      text-align: center;
    }

    &__text {
      width: 279px;
      opacity: 80%;
      text-align: center;
    }

    &__btn {
      width: 217px;
      margin-left: -95px;
    }
  }
}
